
<ion-header>
  <ion-toolbar class="menu-top">
    <ion-tab-button tab="inicio">
      <ion-icon  name="arrow-back-outline"></ion-icon>
      
    </ion-tab-button>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-searchbar placeholder="Buscar un artista o grupo"></ion-searchbar>
    
  
 <ion-list>
    <ion-item>Coldplay</ion-item>
    <ion-item>FEID</ion-item>
    <ion-item>Dua Lipa</ion-item>
    <ion-item>Bad Bunny</ion-item>
    <ion-item>Måneskin</ion-item>

  </ion-list>
</ion-content>