<ion-header>
  <ion-toolbar class="menu-top1">
    <ion-tab-button tab="inicio">
      <ion-icon  name="arrow-back-outline"></ion-icon>
      <ion-title>Configuracion</ion-title>
    </ion-tab-button>
  </ion-toolbar>
</ion-header>

<!---------------------------------------------------------->
<!--******************************************************-->

<ion-content>

  <div class="boton">
    <ion-button color="light" expand="block"><ion-icon name="construct-outline"></ion-icon>Administrar perfiles</ion-button>
  </div>
  <div>
    <ion-item>
        <ion-icon name="key-outline"></ion-icon>
      <ion-label>Cambiar contraseña</ion-label>
    </ion-item>
  </div>

  <div>
    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>Privacidad</ion-label>
    </ion-item>
  </div>

  <div>
    <ion-item>
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Información Personal</ion-label>
    </ion-item>
  </div>

  <div class="boton">
    <ion-button color="light" expand="block"><ion-icon name="help-circle-outline"></ion-icon>Ayuda</ion-button>
  </div>
  
  <div>
     <ion-button color="light" expand="block"><ion-icon name="help-outline"></ion-icon>Preguntas Frecuentes</ion-button>
  </div>   


</ion-content>
