<ion-header>
  <ion-toolbar>
    <ion-tab-button tab="buscar">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>
    

  </ion-toolbar>
  

</ion-header>

<ion-content>
  <div class="grupo-img">
    <div class="img-perfil">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg" />
      </ion-thumbnail>
    </div>
  </div>
  

<ion-card>
  <ion-card-header>
    <img src="../imagenes/ferxxo.jpg">
    <ion-card-title>FEID</ion-card-title>
    <ion-card-subtitle>Artista revelación</ion-card-subtitle>
    
  </ion-card-header>

  <ion-card-content>
    Feid, el artista Colombiano revelación del año, está próximo a estrenar su disco "Feliz Cumpleaños Ferxxo", el lanzamiento 
    se adelanto debido a que su álbum fue pirateado recientemente.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <img src="../imagenes/colplay-1-1.jpg">
    <ion-card-title>Coldplay</ion-card-title>
    <ion-card-subtitle>Proximos Eventos</ion-card-subtitle>
    
  </ion-card-header>

  <ion-card-content>
  A pocos días del concierto, la banda liderada por Chris Martin, trae una nueva modalidad para acercar a sus fans a la música, 
  hablamos de "Infinity Tickets", Se trata de un “sorteo” de entradas limitadas para el público general, que en el caso de adquirirlas,
  no se conocerá la ubicación. Sino que el mismo día del evento, serán enviadas por correo, y podrán descubrir cuál ubicación les fue asignada.    
  </ion-card-content>
</ion-card>
<ion-card>
  
  <ion-card-header>
    <img src="../imagenes/DUALIPA.jpg">
    <ion-card-title>Dua Lipa</ion-card-title>
    <ion-card-subtitle>Future Nostalgia</ion-card-subtitle>
    
  </ion-card-header>

  <ion-card-content>
    Luego de meses de espera, llega Dua Lipa con el Future Nostalgia tour, miles de fans quedaron sin entradas para el show, por lo 
    que se espera que la artista Inglesa sea esperada por una multitudinaria cantidad de fans, tanto en el aeropuerto como en 
    el hotel.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header >
    <img src="../imagenes/maneskin.jpg">
    <ion-card-title>Maneskin</ion-card-title>
    <ion-card-subtitle>Loud kids tour Gets louder'zz</ion-card-subtitle>

  <ion-card-content>
  </ion-card-header>
     Llegó a Chile el 14 de Septiembre con un show imperdible, el grupo que volvió a poner a Italia en el mapa, agotó entradas
     en tiempo record y sus fans quedaron facinados con la performance.
  
    
  </ion-card-content>
</ion-card>
</ion-content>


